<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- console configuration -->

  <property name="CONSOLE_LOG_PATTERN"
            value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t{14}]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex"/>

  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
  <conversionRule conversionWord="wex"
                  converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- path configuration -->

  <property name="LOG_FILE" value="${user.dir}/logs/search.log"/>
  <property name="FILE_LOG_PATTERN"
            value="%d{HH:mm:ss.SSS} [%thread] %-5level %X{req.remoteHost} %X{user} %logger{35} - %msg%n"/>
  <property name="FILE_NAME_PATTERN"
            value="${user.dir}/logs/%d{yyyy-MM,aux}/profiles_%d.log"/>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${FILE_NAME_PATTERN}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- fastpay logger configuration -->
  <logger name="com.hazelcast" level="DEBUG"/>

  <!-- root -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>